In [2]:
import pymysql
from MySQLdb._exceptions import Error

Create database conntection

In [9]:
''' Parameters '''
host = 'localhost'
user = 'Bismarck'
pw = 'System123'
db = 'world_x'

connection  = pymysql.connect(host=host, user=user, password=pw, db=db)

Cursor object

In [41]:
cursor = connection.cursor()

Dop table if exists

In [42]:
cursor.execute('DROP TABLE IF EXISTS EMPLOYEE')

0

Create Table

In [43]:
query = '''
CREATE TABLE EMPLOYEE (
first_name varchar(20) not null,
last_name varchar(20),
age integer,
salary float
)
'''

Execute Quary

In [44]:
cursor.execute(query)

0

Close connection

In [45]:
## connection.close() # perform action before closing the connection

Insert into table using query

In [10]:
query = '''
insert into employee ( first_name,last_name,age,salary)
value('Blessing','Desiji',24,3000)
'''

Execute Query
Use the try and except block, it lets you test block of code for errors. This is how it is below:

try:
    pass
except: expression as identifier:
    pass
finally:
    pass

In [47]:
try:
    cursor.execute(query)
    connection.commit()
except Error as e:
    connection.rollback()
    print('Error: Inserting Row')
finally:
    connection.close()
    print('Connection is closed')

Connection is closed

Insert Many queries

Prepare a cursor object

In [11]:
cursor =  connection.cursor()

Insert Query

In [12]:
query = '''
insert into employee( first_name,last_name,age,salary)
values (%s,%s,%s,%s)
'''

Create insert list

In [13]:
records = [
    (
        ('Emeka', 'Jude', 25, 4000),
        ('Ayomide', 'Emmanuel', 23, 3000),
        ('Ibrahim', 'Musa', 25, 5000)
    )
]

Execute Query

In [14]:
try:
    cursor.executemany(query, records)
    connection.commit()
    print(cursor.rowcount, 'Records Inserted')
except Error as e:
    connection.rollback()
    print('Error: Inserting Row')
finally:
    connection.close()
    print('Connection Closed')

Connection Closed

TypeError: not enough arguments for format string