In [48]:
import pymysql

from MySQLdb._exceptions import Error

Create database connection

In [49]:
''' Parameters '''
host = 'localhost'
user = 'Bismarck'
pw = 'System123'
db = 'world_x'

connection  = pymysql.connect(host=host, user=user, password=pw, db=db)

Insert Many queries

Prepare a cursor object

In [50]:
cursor =  connection.cursor()

Insert Query

In [51]:
query = '''
            insert into employee( first_name,last_name,age,salary)
            values (%s,%s,%s,%s)
        '''

Create insert list

In [52]:
records = [
        ('Emeka', 'Jude', 25, 4000),
        ('Ayomide', 'Emmanuel', 23, 3000),
        ('Ibrahim', 'Musa', 25, 5000)
]

Execute Query

In [53]:
try:
    cursor.executemany(query = query, args=records)
    connection.commit()
    print(cursor.rowcount, 'Records Inserted')
except Error as e:
    connection.rollback()
    print('Error: Inserting Row')
finally:
    connection.close()
    print('Connection Closed')

3 Records Inserted
Connection Closed